﻿* {
	margin: 0;
	padding: 0;	
	font-family: "Comic Sans MS", cursive, sans-serif
}
html, body {
	height: 100%;
}

html {
	display: table;
	margin: auto;
}

body {
	display: table-cell;
	vertical-align: middle;
}
.wrapper {
	width: 1170px;
	margin: auto;
}

/*left content*/
.left-content {
	width: 400px;
	height: 650px;
	background-color: #E7E7E7;
	color: #000;
	float: right;
	display: -webkit-flex; /* Safari */
	-webkit-align-items: center; /* Safari 7.0+ */
	display: flex;
	align-items: center;
}

.content {
	width: 300px;
	margin: auto;
}

.left-content p {
	color: #9E9E9E;
	padding: 5px 10px;
	margin: 5px 0;
	font-size: 0.9em;
	line-height: 1.5;
}

.left-content h1 {
	padding: 5px 10px;
	font-size: 1.4em;
	margin: 15px 0;
}

.left-content ul {
	margin: 20px 10px;
	list-style: none;
}

.left-content li {
	padding: 5px 0;
}

.left-content span {
	margin-left: 5px;
	margin-right: 15px;
	font-size: 1.4em;
}

.left-content a:link, a:visited  {
	color: black;
	margin: 20px 10px 40px 10px;
	padding: 10px 30px;
	text-decoration: none;
	border-style: solid;
	border-width: 2px;
	display: inline-block;
}

.left-content a:hover, a:active  {
	background-color: #000;
	color: white;
}

/*right-content*/
.right-content {
	width: 770px;
	height: 650px;
	float: right;
	display: block;
	position: relative;
}

.slider  {
	width: 770px;
	display: block;
	position: absolute;
	overflow: hidden;
}

.slider img{
	width: 770px;
	height: 650px;
}

.prev {
	width: 35px;
	height: 43px;
	color: white;
	font-size: 1.4em;
	background: rgba(0, 0, 0, 0.7);
	line-height: 43px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 2%;
	z-index: 999;
}

.next {
	width: 35px;
	height: 43px;
	color: white;
	font-size: 1.4em;
	background: rgba(0, 0, 0, 0.7);
	line-height: 43px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 2%;
	z-index: 999;
}

.pager {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 4%;
	z-index: 999;
}

.pager button {
	width: 15px;
	height: 15px;
	color: transparent;
	margin: 5px;
	display: inline-block;
	position: relative;
	border: 3px solid rgba(0, 0, 0, 0.5);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.pager button.activeSlide  {
	width: 17px;
	height: 17px;
	background: transparent;
	border: 3px solid rgba(255, 0, 0, 0.8);
}

/* Medium devices Desktops (≥992px) */ 
@media (max-width: 1200px) {
	.wrapper {
		width: 100%;
		height: auto;
	}
	.left-content {
		width: 100%;
		height: auto;
		float: right;
	}
	.content{
		width: 100%
	}
	.right-content{
		width: 100%;
		height: 600px;
		float: right;
	}
	.slider  {
		width: 100%;
		height: 600px;
	}
	.slider img{
		width: 100%;
		height: 600px;
	}
}

@media (max-width: 1096px) {
	.wrapper {
		width: 100%;
		height: auto;
	}
	.left-content {
		width: 100%;
		height: auto;
		float: right;
	}
	.content{
		width: 100%
	}
	.right-content{
		width: 100%;
		height: 550px;
		float: right;
	}
	.slider  {
		width: 100%;
		height: 550px;
	}
	.slider img{
		width: 100%;
		height: 550px;
	}
}

/* Small devices Tablets (≥768px)  */
@media (max-width: 992px) {
	.wrapper {
		width: 100%;
		height: auto;
	}
	.left-content {
		width: 100%;
		height: auto;
		float: right;
	}
	.content{
		width: 100%
	}
	.right-content{
		width: 100%;
		height: 500px;
		float: right;
	}
	.slider  {
		width: 100%;
		height: 500px;
	}
	.slider img{
		width: 100%;
		height: 500px;
	}
}

@media (max-width: 880px) {
	.wrapper {
		width: 100%;
		height: auto;
	}
	.left-content {
		width: 100%;
		height: auto;
		float: left;
	}
	.content{
		width: 100%
	}
	.right-content{
		width: 100%;
		height: 500px;
		float: left;
	}
	.slider  {
		width: 100%;
		height: 500px;
	}
	.slider img{
		width: 100%;
		height: 500px;
	}
}

/*	Extra small devices Phones (<768px)*/
@media (max-width: 768px) {
	.wrapper {
		width: 100%;
		height: auto;
	}
	.left-content {
		width: 100%;
		height: auto;
		float: left;
	}
	.content{
		width: 100%
	}
	.right-content{
		width: 100%;
		height: 400px;
		float: left;
	}
	.slider  {
		width: 100%;
		height: 400px;
	}
	.slider img{
		width: 100%;
		height: 400px;
	}
}


@media (max-width: 411px) {
	.wrapper {
		width: 100%;
		height: auto;
	}
	.left-content {
		width: 100%;
		height: auto;
		float: left;
	}
	.content{
		width: 100%
	}
	.right-content{
		width: 100%;
		height: 300px;
		float: left;
	}
	.slider  {
		width: 100%;
		height: 300px;
	}
	.slider img{
		width: 100%;
		height: 300px;
	}
}
