* {
	margin: 0;
	padding: 0;	
	font-family: "Comic Sans MS", cursive, sans-serif
}

html, body {
	height: 100%;
}

html {
	display: table;
	margin: auto;
}

body {
	display: table-cell;
	vertical-align: middle;
}

.wrapper {
	width: 1170px;
	height: 650px;
}

/*left content*/
.left-content {
	width: 400px;
	height: 650px;
	background-color: #E7E7E7;
	color: #000;
	float: left;
	display: -webkit-flex; /* Safari */
	-webkit-align-items: center; /* Safari 7.0+ */
	display: flex;
	align-items: center;
}

.content {
	width: 300px;
	margin: auto;
}

.left-content p {
	color: #9E9E9E;
	padding: 5px 10px;
	margin: 5px 0;
	font-size: 0.9em;
	line-height: 1.5;
}

.left-content h1 {
	padding: 5px 10px;
	font-size: 1.4em;
	margin: 15px 0;
}

.left-content ul {
	margin: 20px 10px;
	list-style: none;
}

.left-content li {
	padding: 5px 0;
}

.left-content span {
	margin-left: 5px;
	margin-right: 15px;
	font-size: 1.4em;
}

.left-content a:link, a:visited  {
	color: black;
	margin-top: 20px;
	margin: 10px;
	padding: 10px 30px;
	text-decoration: none;
	border-style: solid;
	border-width: 2px;
	display: inline-block;
}

.left-content a:hover, a:active  {
	background-color: #000;
	color: white;
}

/*right-content*/
.right-content {
	width: 770px;
	height: 650px;
	float: left;
	display: block;
	position: relative;
}

.slider  {
	width: 770px;
	height: 650px;
	display: block;
	position: absolute;
	overflow: hidden;
}

.slider img{
	width: 770px;
	height: 650px;
}

.prev {
	width: 35px;
	height: 43px;
	color: white;
	font-size: 1.4em;
	background: rgba(0, 0, 0, 0.7);
	line-height: 43px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	top: 325px;
	left: 38px;
	z-index: 999;
}

.next {
	width: 35px;
	height: 43px;
	color: white;
	font-size: 1.4em;
	background: rgba(0, 0, 0, 0.7);
	line-height: 43px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	top: 325px;
	right: 38px;
	z-index: 999;
}

.pager {
	text-align: center;
	display: block;
	margin-top: 590px;
	/* z-index: 999; */
}

.pager button {
	width: 15px;
	height: 15px;
	color: transparent;
	margin: 5px;
	display: inline-block;
	border: 3px solid rgba(0, 0, 0, 0.5);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.pager button.activeSlide  {
	width: 17px;
	height: 17px;
	background: transparent;
	border: 3px solid rgba(255, 0, 0, 0.8);
}

@media (max-width: 1170px) {
	.wrapper {
		width: 100%;
		background: #FFF;
	}
}
@media (max-width: 768px) {
	.wrapper {
		width: 100%;
	}
}